# Data Science Tools and Ecosystem

This notebook contains lists of languages, libraries, and tools for data science. Examples of python code are also included in this notebook.

**Objectives:**

* List of Data Science Languages
* List of Data Science Libraries
* Table of Data Science Tools
* Example of code to add and multiply numbers
* Code to Convert Minutes to Hours

### Data Science Languages

1. Python
2. R
3. Scala
4. C++
5. Julia
6. Javascript
7. SQL

### Data Science Libraries

1. Numpy
2. Keras
3. Tensorflow
4. Scikit-learn
5. Pandas
6. ggplot2
7. Matplotlib
8. Seaborn
9. Apache Spark
10. Vegas
11. Big DL

### Data Science Tools

| Development Environments |
| --- |
| Jupyter |
| R studio |
| Apache Zeppelin |

### The following code cell provides examples of the addition and multiplication operations in python.

In [1]:
# This simple operation multiplies two numbers and then adds another.

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing 60.

def minutes_to_hours(min):
    return min/60

minutes_to_hours(200)

3.3333333333333335

## Author: 
Shashwat